 body {
            margin: 0;
            min-height: 100vh;
            font-family: "Montserrat", sans-serif;
            background-color: #f3f3f3;
        }

        .message-alert {
            position: fixed;
            right: 5px;
            bottom: 520px;

            display: flex;
            align-items: center;
            gap: 14px;

            background-color: rgb(244, 244, 244);
            border-left: 6px solid rgb(70, 172, 241);
            padding: 4px 8px;
            width: 270px;

            border-radius: 12px;
            box-shadow: 0 10px 25px rgba(0,0,0,0.15);

            animation: slideUp 0.6s ease forwards;
            transition: opacity 0.5s ease, transform 0.5s ease;
        }

        .message-alert span {
            font-size: 24px;
            color: rgb(90, 194, 200);
        }

        .alert-text b {
            margin-top: 10px;
            font-size: 17px;
            margin-left: 50px;
           
        }

        .alert-text p {
            font-size: 12px;
            opacity: 0.8;
    
        }

        @keyframes slideUp {
            from {
                transform: translateX(120%);
                opacity: 0;
            }
            to {
                transform: translateX(0);
                opacity: 1;
            }
        }